<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/books/list">Книги</a></li>
  <li class="breadcrumb-item active">Редагувати</li>
</ol>
<h1 class="display-4">Редагувати книгу</h1>
<form method="POST" action="/books/update/<%= book.id %>">
  <div class="form-group">
    <label for="title">Назва</label>
    <input type="text" name="title" class="form-control" value="<%= book.title %>">
  </div>
  <div class="form-group">
    <label for="body">Жанр</label>
    <input type="text" name="body" class="form-control" value="<%= book.body %>">    
  </div>
  <input type="submit" value="Змінити" class="btn btn-primary">
</form>