<h1 class="display-4">База даних книг</h1>
<p class="mb-4">Ви користуєтесь додатком на Sails.js для керування базою даних книг</p>
<a href="/books/list" class="btn btn-light">Показати книги</a>
<a href="/books/add" class="btn btn-light">Добавити книгу</a>